* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fc;
  color: #222;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #0d3559;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
    width: 40px;
    height: 40px;
}
.nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
}