.cards h1 {
    display: flex;
    justify-content: center;
    color: #0d3559;

}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.card{
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}


.card h3 {
  margin-bottom: 10px;
  color: #0d3559;
}