.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    background-color: #fff;
}
.hero-content{
      flex: 1 1 400px;

}
.hero-content h1{
    font-size: 2.5rem;
  margin-bottom: 15px;
  color: #0d3559;
}
.hero-image img {
    width: 450px;
}
.btn {
    background-color:#0d3559;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 15px;

}
.btn:hover{
    background-color: #06223a;
}